body {
    font-family: Helvetica;
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid gray;
}

img {
    width: 650px;
}

.testo {
    margin-top: 50px;
}

p {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}