body {
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid gray;
}

img {
    width: 650px;
}

.testo {
    margin-top: 50px;
}

.descrizione {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}

#overflowTest {
    padding: 10px 0px;
    overflow: scroll;
    margin-top: 20px;
}

h3 {
    margin-top: 20px;
    font-weight: 600px;
}

.titolo_recensione {
    font-size: 20px;
}

.corpo_recensione {
    margin-top: -5px;
}

.utente {
    margin-top: -10px;
    font-style: italic;
}

.checked {
    color: orange;
}